// Base
@import "base/_typography";
@import "base/_reset";
@import "base/_colors";

// Sidebar
@import "layout/sidebar";
// Components
@import "components/signIn";
@import "components/signUp";
@import "components/apartmentList";
@import "components/modal";
@import "components/newApartment";
@import "components/apartmentCard";
@import "components/list";
@import "components/newItemForm";

// Utils
@import "utils/_variables";
@import "utils/_mixins";
@import "utils/_functions";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
